<h1> Edit Customer</h1>
<form action="/customer/save" method="post">
   <input type="hidden" name="customer_id" value="<%= rec.customer_id %>" >
   <table>
<tr> <td> First Name: </td> <td> <input type="text" name="firstname" value=<%= rec.firstname %> required> </td> </tr>
<tr> <td> Last Name: </td> <td> <input type="text" name="lastname" value=<%= rec.lastname %> required>  </td> </tr>
<tr> <td> Email: </td> <td> <input type="text" name="email"><%= rec.email %></td> </tr>
<tr> <td> Phone: </td> <td> <input type="number" name="phone" value=<%= rec.phone %> required> </td> </tr>
<tr> <td> Username: </td> <td> <input type="text" name="username" value=<%= rec.username %> required> </td> </tr>
<tr> <td> Password: </td> <td> <input type="password" name="password" value=<%= rec.password %> required> </td> </tr>
   </table>
   <button type="submit">Save</button>
</form>
