<h1> Edit Order</h1>
<form action="/orderdetail/save" method="post">
   <input type="hidden" name="orderdetail_id" value="<%= rec.orderdetail_id %>" >
   <table>
<tr> <td> Order ID: </td> <td> <input type="text" name="order_id" value=<%= rec.order_id %> required> </td> </tr>
<tr> <td> Product ID: </td> <td> <input type="text" name="product_id" value=<%= rec.product_id %> required> </td> </tr>
<tr> <td> Sale Price: </td> <td> <input type="text" name="saleprice" value=<%= rec.saleprice %> required> </td> </tr>
<tr> <td> Qty: </td> <td> <input type="text" name="qty" value=<%= rec.qty %> required> </td> </tr>
   </table>
   <button type="submit">Save</button>
</form>
