<h1> Order Details </h1>
<table>
<tr> <td> OrderDetail ID: </td> <td> <%= onerec.orderdetail_id %> </td> </tr>
<tr> <td> Order ID: </td> <td> <%= onerec.order_id %> </td> </tr>
<tr> <td> Product ID: </td> <td> <%= onerec.product_id %> </td> </tr>
<tr> <td> Sale Price: </td> <td> <%= onerec.saleprice %> </td> </tr>
<tr> <td> Qty: </td> <td> <%= onerec.qty %> </td> </tr>
</table>
