<% if (allrecs.length > 0) {%>
	<% allrecs.forEach((recref, index) => { %>
		<product>
			<form action="/catalog/add" method="post" >
			<input type="hidden" name="product_id" value=<%= recref.product_id %> > 
					<b><%= recref.productname %></b><br/>
					<b>Price: <%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(recref.saleprice) %> </b> <br/>
					<center><img src="/images/<%= recref.productimage %>" height="100" width="100"></center> 					
					<b>Starting City: </b><%= recref.startingcity %><br/>
					<b>Destination City:</b> <%= recref.destinationcity %><br/>
					<b>Availability Status: </b> <%= recref.productstatus %><br/>
					<p> Quantity: <input type="text" name="qty" size="2" required>
					<button type="submit" class="button1">Add to Cart</button> </p>
			</form>
		</product>
	<% }); %>
<% } %>


