<form action="/search" method="post">
	<h1>Search</h1>	
	<input type="text" name="searchcriteria">
	<button> <i class="fa fa-search"></i></button><!--value="Go"-->
</form>

<hr>

<% if (allrecs.length > 0) {%>
		<table border=1>
			<tr>
				<th>Product Name</th>
				<th>Product Image</th>
				<th>Product Status</th>
				<th>Sale Price </th>
				<th>Starting City</th>
				<th>Destination City</th>
			</tr>
      	<% allrecs.forEach((recref, index) => { %>
			<tr>
				<td><%= recref.productname %></td>
				<td><img src="/images/<%= recref.productimage %>" height="100" width="100"></td>
				<td><%= recref.productstatus %></td>
				<td><%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(recref.saleprice) %></td>
				<td><%= recref.startingcity %></td>
				<td><%= recref.destinationcity %></td>
				<td><a href='/product/<%= recref.product_id %>'> Details</a></td>
                </tr>
        <% }); %>
		</table>

        <% } else { %>
            <p>Not Records Available</p>
        <% } %>
		


