<h1> Product Details </h1>
<table>
<tr> <td> Product ID: </td> <td> <%= onerec.product_id %> </td> </tr>
<tr> <td> Product Name: </td> <td> <%= onerec.productname %> </td> </tr>
<tr> <td> Image: </td> <td> <%= onerec.productimage %> </td> </tr>
<tr> <td> Description: </td> <td> <%= onerec.item_description %> </td> </tr>
<tr> <td> Category ID: </td> <td> <%= onerec.category_id %> </td> </tr>
<tr> <td> Supplier ID: </td> <td> <%= onerec.supplier_id %> </td> </tr>
<tr> <td> Sub Category 1: </td> <td> <%= onerec.subcategory_1 %> </td> </tr>
<tr> <td> Sub Category 2: </td> <td> <%= onerec.subcategory_2 %> </td> </tr>
<tr> <td> Status: </td> <td> <%= onerec.productstatus %> </td> </tr>
<tr> <td> Sale Price: </td> <td> <%= onerec.saleprice %> </td> </tr>
<tr> <td> Starting City: </td> <td> <%= onerec.startingcity %> </td> </tr>
<tr> <td> Destination City: </td> <td> <%= onerec.destinationcity %> </td> </tr>
<tr> <td> Duration: </td> <td> <%= onerec.productduration %> </td> </tr>
</table>
