<h1> Supplier Details </h1>
<table>
<tr> <td> Supplier ID: </td> <td> <%= onerec.supplier_id %> </td> </tr>
<tr> <td> Company Name: </td> <td> <%= onerec.companyname %> </td> </tr>
<tr> <td> Point Of Contact: </td> <td> <%= onerec.pointofcontact %> </td> </tr>
<tr> <td> Website: </td> <td> <%= onerec.website %> </td> </tr>
<tr> <td> Phone: </td> <td> <%= onerec.phone %> </td> </tr>
</table>
