<h1> Edit Subscription</h1>
<form action="/subscription/save" method="post">
   <input type="hidden" name="subscription_id" value="<%= rec.subscription_id %>" >
   <table>
<tr> <td> Customer ID: </td> <td> <input type="text" name="customer_id" value=<%= rec.customer_id %> required> </td> </tr>
<tr> <td> Category ID: </td> <td> <input type="text" name="category_id" value=<%= rec.category_id %> required> </td> </tr>
<tr> <td> Subscribe Date: </td> <td> <input type="text" name="subscribedate" value=<%= rec.subscribedate %> required> </td> </tr>
<tr> <td> Unsubscribe Date: </td> <td> <input type="text" name="unsubscribedate" value=<%= rec.unsubscribedate %> required> </td> </tr>
   </table>
   <button type="submit">Save</button>
</form>
