<h1>Details</h1>
<table>
	<tr> <td> Supplier ID: </td> <td> <%= onerec.review_id %> </td> </tr>
	<tr> <td> Company Name: </td> <td> <%= onerec.customer_id %> </td> </tr>
	<tr> <td> Point of Contact: </td> <td> <%= onerec.product_id %> </td> </tr>
	<tr> <td> Website: </td> <td> <%= onerec.reviewdate %> </td> </tr>
	<tr> <td> Phone: </td> <td> <%= onerec.comments %> </td> </tr>
	<tr> <td> Phone: </td> <td> <%= onerec.rating %> </td> </tr>
	<tr> <td> Phone: </td> <td> <%= onerec.productstatus %> </td> </tr>
</table>
